body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

button {
    background-color: lightskyblue;
    color: white;
    padding: 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 33%;
}

#Neoclassical {
    display: none;
}

#SupplySide {
    display: none;
}

.visgraph .vis-time-axis {
    display: none;
}
.visgraph3 .vis-time-axis {
    display: block;
}
.visgraph3 .vis-y-axis {
    display: block;
}


/* The slider itself */
.slider {
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.visgraph {
    width: 90%
}

.visgraph2 {
    width: 90%;
}

.visgraph3 {
    width: 50%;
}


#PhillipsAxisLabel {
    display: none;
    margin: 0 auto;
}

#labelA {
    display: none;
    margin: 0 auto;
}

#labelB {
    display: none;
    margin: 0 auto;
}

#LafferAxis {
    margin: 0 auto;
    display: none;
}

table, td {
    border: 0.5px solid lightgrey;
}